html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Apple-System, Arial, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, STXihei, sans-serif;
  font-size: 16px !important;
  /* font-weight: lighter; */
  margin: 0px;
}

#txtBox p {
  text-align: left;
  /* font-size: 12px; */
  margin: 0.2em;
}

#txtBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* min-height: 7em; */
  max-height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* padding: 0.5em; */
  border-radius: 0.5em;
  /* border: 1px solid #ebeff3; */
  background-color: #ffffff
    /* box-shadow: 0 0 4px rgb(39 49 58 / 8%); */
}

hr {
  border-top: 0px solid #ebeff3;
  margin: 0px;
}

#loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.statusBox p {
  margin: 0;
}

.statusBox {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
}

.statusFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.statusIcon {
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.3em;
  border-radius: 100%;
}

.statusEstado {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;

}

.introducaoBox {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

.introducaoFlex {
  margin-left: 1em;
}

.inicialPr {
  font-size: 16px;
  padding-right: 2px;
  font-weight: bolder;
  color: #6161617a;
}

.produtoBox {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
}

.produtoBox .dados {
  color: #2c5cc5;
}

.triste {
  font-size: 56px;
  padding-bottom: 0.2em;
}

/* #nomeProduto:hover {
  cursor: pointer;
  color: #90a3cc;
} */
.produtoBox a:hover {
  color: #2c5cc5;
  cursor: pointer;
}

.produtoBox a {
  color: #999999;
  text-decoration: none;
}

.subtitulo {
  color: #999999;
  font-size: 12px;
}

.dados {
  max-width: 30em;
  font-size: 12px;
}

.oportunidades {
  font-size: 10px;
  color: #999999;
  padding-top: 0.3em;
  max-width: 15em;
}

.produtosFlex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row;
  margin: 6px 0px 12px 12px;
}

.iconeFlex {
  display: flex;
  flex-direction: row;
}

.clienteBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  /* background-color: aqua; */
  border-radius: 10%;
  margin-right: 0.3em;
}

.quantiaBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.quantiaBox2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-left: 7em;
  padding-right: 3em;
}

.posProduto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.posProduto .dados {
  font-weight: 500;
}

#nomeDeal {
  font-size: 14px;
  font-weight: bold;
  /* background-color: black; */
  padding: 0em;

}

/* display: none 
display block */
/* teste:nth-child(odd) {
  background-color: #2c5cc5;
}

teste:nth-child(even) */

.icone:nth-child(2n+1) {
  background-color: aqua;

}

.icone:nth-child(3n+0) {
  background-color: rgb(150, 150, 150);
}

.__f72e9 .right-pane .overview-section.stretch-wide .overview-section-content {
  padding: -30px 0px 0px 0px;
  margin-left: -20px;
  margin-right: -20px;
}