<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  <script type="module" src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"></script>
  <script nomodule src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"></script>
  <!-- <style type="text/css">:root {--brand-primary:#12344d;--brand-primary-light-5:#16364D;--brand-primary-light-10:#1A384D;--brand-primary-light-15:#1E394D;--brand-primary-light-20:#213B4D;--brand-primary-light-25:#B3DFFF;--brand-primary-light-30:#BFE4FF;--brand-primary-light-35:#CCEAFF;--brand-primary-light-40:#D9EFFF;--brand-primary-light-45:#E6F4FF;--brand-primary-light-50:#FFFFFF;--brand-primary-dark-5:#0d2638;--brand-primary-dark-10:#081824;--brand-pco50:#dff0ff;--brand-pco100:#bedbf5;--brand-pco200:#a2c0de;--brand-pco300:#83a6c8;--brand-pco400:#6b92b6;--brand-pco500:#527fa5;--brand-pco600:#447093;--brand-pco700:#345C7c;--brand-pco800:#264966;--brand-pco900:#12344D;--brand-aco50:#e5f2fd;--brand-aco100:#bbdcfe;--brand-aco200:#90c6fe;--brand-aco300:#64b0fc;--brand-aco400:#459ffc;--brand-aco500:#2e8efa;--brand-aco600:#2f80eb;--brand-aco700:#2e6ed8;--brand-aco800:#2c5cc5;--brand-aco900:#283da5;}</style>
  <link rel="stylesheet" href="//assets.freshsales.io/assets/froala-editor/froala-editor-with-plugins-13397744b4e7bfb1c4a7778a8321bace.css">
  <link rel="stylesheet" href="https://assets.freshsales.io/assets/react/main.cd0f8606af3408794eb7.css" integrity="">
  <link rel="stylesheet" href="//assets.freshsales.io/assets/vendor-d3026abc6131565e3555e1947619b80d.css" integrity="">
  <link id="non-ie" rel="stylesheet" href="//assets.freshsales.io/assets/frontend-2ce730fbe59269e2f2efe2764e6f30ac.css" integrity="">
  <link rel="stylesheet" href="//assets.freshsales.io/assets/loader-fe71cc1e70778a98e9e60deef0911216.css" integrity=""> -->
  <link rel="stylesheet" href="../styles/styles.css" />

  
</head>

<body>
  <article>
    <section>
      This is your sample app. You can utilise this space to build your
      app.<br />
      You can add your own element here.<br /><br />
    </section>
  </article>
</body>
<script src="./../scripts/app.js"></script>

</html>
